table.table.table-striped
  thead
    tr
      th Name
      th Desc
      th Image
      th Available
      th Price
  tbody
    tr(*ngFor="let book of books")
      td {{book.name}}
      td {{book.desc}}
      td
        img.img-responsive.img-rounded([src]="{{book.image}}" [alt]="{{book.image}}")
      td
        input(type="checkbox" [checked]="book.available" disabled)
      td {{book.price}}